.headerContent {
  width: 89%;
  margin: 0 5% 5% 5%;
}

.searchIcon {
  margin-right: 5%;
}

.menuIcon {
}

#check-label { 
  position: absolute; 
  z-index: 2;
}

.sidebar { 
  /* position: absolute; */
  position: fixed;
  top: 0px; 
  display: block; 
  background-color: rgb(242, 235, 243); 
  width: 70%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  transform: translatex(150%);
  transition: transform 0.4s ease-in-out;
  text-align: left;
  font-weight: bold;
  z-index: 1;
}

#check-btn { 
  display:none; 
}

#check-btn:checked ~ .sidebar {  
  transform: translateX(33%);
}

#profileDiv {
  height: 80px;
  margin-top: 50%;
  margin-left: 5%;
}

#sidebarName {
  font-size: 17px;
  margin-left: 20%;
  margin-top: 8.5%;
}

#sidebarEmail {
  margin-left: 20%;
  align-items: center;
  color: #ADADAD;
  font-weight: 100;
}

.headerContent hr {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-color: white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.sidebarFollowDiv {
  margin-top: 3%;
  margin-left: 5%;
}

.sidebarProfileDiv, .sidebarPasswordDiv {
  margin-left: 5%;
}

.sidebarCategoryDiv {
  overflow: auto;
  white-space: nowrap;
}

.sidebarCategoryDiv p {
  margin-left: 5%;
}

.sidebarCategoryDiv span {
  background-color: white;
  border-radius: 10%;
  padding: 2% 1% 2% 1%;
  margin-right: 5%;
}

.sidebarCategoryNameDiv {
  margin-left: 5%;
}

.sidebarLogoutDiv {
  text-align: center;
  margin-top: 30%;
  color: rgb(48, 48, 48);
}

.sidebarDeleteDiv {
  text-align: right;
  margin-right: 12%;
  color: red;
}

#delUserModal {
  width: 80%;
  padding: 8%;
  border-radius: 10px;
  background-color: #ffffff;
}
#delUserModal:focus {
  outline: 0;
}
#delUserModalContent {

}
#delUserModalTitle {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5%;
}
#delUserCancelBtn {
  display: inline-block;
  width: 45%;
  height: 40px;
  margin: 5% 5% 0 0;
  border: 0;
  border-radius: 10px;
  border-color: rgb(242, 235, 243);
  background-color: rgb(242, 235, 243);
  font-weight: bold;
}
#delUserBtn {
  width: 45%;
  height: 40px;
  margin: 5% 0 0 5%;
  border: 0;
  border-radius: 10px;
  border-color: rgb(242, 235, 243);
  background-color: rgb(242, 235, 243);
  color: red;
  font-weight: bold;
}