#container {
    background-color: #ffffff;
}

#logo {
    margin-top: 50%;
}

#dustImg {
    width: 80%;
    margin: 0 10% 0 10%;
}

#titleContainer {
    width: 100%;
    margin: 0;
    text-align: center;
}

#title {
    margin: 0 0 2% 0;
    font-weight: bold;
    font-size: 40px;
    color: rgb(139, 105, 168);
}

#title_ex {
    margin-top: 0;
    color: rgb(179, 160, 182);
    font-size: 15px;
}

#btnContainer {
    margin-top: 30%;
}

#btn {
    display: inline-block;
    width: 45%;
    height: 40px;
    margin: 0 2.5% 0 2.5%;
    border-radius: 10px;
    background-color: rgb(242, 235, 243);
    border-color: rgb(242, 235, 243);
    border: 0;
}

#btnText {
    margin: 0;
    font-size: 14px;
    color: rgb(139, 105, 168);
}