.followbtn{
    border-radius: 10%;
    padding: 1%;
    margin-right: 3%;
    float:right;
    font-size: 17px;
    border-width: 0;
    width: 25%;
}

.otherProfileDiv {
    height: 60px;
}

.otherProfileImgDiv {
    width: 30%;
    height: 100%;
}

.otherProfileImgSize {
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    margin-top: 5%;
}

.otherProfileNameDiv {
    float: right;
    width: 85%;
    margin-top: 6%;
    font-weight: bold;
}

.cate_name {
    width : 50%
}