.todoContent {
    width: 90%;
    margin: 0 5% 5% 5%;
}

.header {
    width: 100%;
    text-align: right;
}

.leftContentDiv {
    float: left;
    width: 55%;
}

.followListDiv {
    height: 60px;
    /* height: 70%; */
    /* border-bottom: 1px solid #EAEAEA; */
}

.followListBtnDiv {
    margin-right: 3%;
    float: left;
    width: 20%;
    height: 100%;
}

.profileDiv {
    height: 60px;
}

.profileImgDiv {
    width: 30%;
    height: 100%;
}

.profileNameDiv {
    float: right;
    width: 70%;
    margin-top: 10%;
    font-weight: bold;
}

.chaDiv {
    height: 120px;
}

.middleContentDiv {
    /* overflow: scroll; */
    margin-top: 5%;
}

.followListDetailBtn {
    width: 100%;
    height: 65%;
    border-radius: 50%;
    background-color: #EAEAEA;
    border: 0;
}

.followListImgSize {
    width: 100%;
    height: 65%;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
}

.chaImgSize {
    width: 45%;
    height: 75%;
}

.profileImgSize {
    width: 85%;
    height: 85%;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    margin-top: 5%;
}

.followListNameDiv {
    font-size: 11px;
    color: grey;
    text-align: center;
}

.chaDiv span {
    font-size: 15px;
    margin-left: 11%;
    color: rgb(139, 105, 168);
}

.middleContentDiv input {
    margin-top: 3%;
}

.todoCheckBox {
    height: 30%;
    width: 5%;
}

.allSelectBtn {
    float: right;
    background-color: #EFEFEF;
    border-radius: 10%;
    padding: 1%;
    margin-right: 3%;
}

.todoCateBtn {
    font-size: 15px;
    font-weight: bold;
    border-width: 0;
    border-radius: 10%;
    background-color: white;
    color: rgb(139, 105, 168);
    border: 1px solid rgb(139, 105, 168);
    padding: 2%;
    margin-right: 3%;
}